---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Buttons from "../components/Buttons.astro";
import Comms from "../components/Comms.astro";
import Modal from "../components/Modal.astro";

import headshot1 from "../images/gallery/Ninten_Draw_3rd_place.png";
import headshot2 from "../images/gallery/iota.png";
import headshot3 from "../images/gallery/gir_hoodie.png";
---

<Layout title="Damita K.N - Commissions" header="Damita K.N">
  <main>
    <div class="nav-bar">
      <Buttons text="Commissions" href="./commissions" />
      <Buttons text="Gallery" href="./gallery" />
    </div>
    <div class="link-card-grid">
      <div class="link-card">
        <div>
          <h1>Art: Sketch</h1>
          <hr />
          <ul class="images">
            <Comms text="Bust" price="$10" alt="Example of what a bust sketch drawing would look like" image={headshot1} />
            <Comms text="Half" price="$15" alt="Example of what a haldbody sketch drawing would look like" image={headshot2} />
            <Comms text="Full" price="$20" alt="Example of what a fullbody sketch drawing would look like" image={headshot3} />
          </ul>
          <ul>
            <li>Additional Character +$5</li>
            <li>Flat color / Transparent background is free</li>
          </ul>
        </div>
      </div>
      <div class="link-card">
        <div>
          <h1>Art: Colored</h1>
          <hr />
          <ul class="images">
            <Comms text="Bust" price="$20" alt="Example of what a bust colored drawing would look like" image={headshot1} />
            <Comms text="Half" price="$30" alt="Example of what a bust colored drawing would look like" image={headshot1} />
            <Comms text="Full" price="$40" alt="Example of what a bust colored drawing would look like" image={headshot1} />
          </ul>
          <ul>
            <li>Additional Character +$5</li>
            <li>Flat color / Transparent background is free</li>
            <li>Complex background: +$5 to $100 depending on the complexity</li>
          </ul>
        </div>
      </div>
    </div>
    <Modal />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 0;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin: 0 0 0.5em 0;
    opacity: 0.8;
  }
  a {
    text-decoration: none;
    color: white;
  }
  hr {
    opacity: 0.8;
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  ul {
    opacity: 0.8;
  }
  .images {
    display: flex;
    padding: 0;
    gap: 1em;
  }
  .nav-bar {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  .link-card-grid {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 1rem 0;
    gap: 1em;
  }
  .link-card {
    display: flex;
    flex-direction: column;
    padding: 1px;
    background-color: #23262d;
    background-image: none;
    background-size: 400%;
    border-radius: 7px;
    background-position: 100%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }
  .link-card > div {
    margin: 0;
    text-decoration: none;
    line-height: 1.4;
    padding: calc(1.5rem - 1px);
    border-radius: 8px;
    color: white;
    background-color: #23262d;
  }

  @media screen and (max-width: 640px) {
    .images {
      flex-direction: column;
    }
  }
</style>
